.button{
    -fx-background-color: rgb(0, 120, 212);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-text-fill: white;
    -fx-font-family: Segoe UI;
    -fx-font-weight: 500;
    -fx-cursor: hand !important;
}

#leftGroupBtn{
    -fx-background-radius: 2 0 0 2 !important;
    -fx-border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
}

#rightGroupBtn{
    -fx-background-radius: 0 2 2 0 !important;
}